body {
width:100%;
height:100%;
margin: 0;
font-family: 'Titillium Web', sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

.block1{
    background:#87509c;
    height: 470px;
    min-width:1000px;
	color: #fff;
}

.header {
	position: relative;
	top: 40px;
}

.head {
    max-width: 1180px;
    min-width:1000px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.logo {
	margin-left: 15px;
}


.nav {
	margin-right: 2px;
	word-spacing: 15px;
}

.menu>li {
	display: inline-block;

}

a.li-buttons{
    background:#87509c;
    color: #fff;
    padding: 5px 15px;
    text-decoration: none;
    margin-bottom:15px;
    margin-top:15px;
}

a.li-buttons:hover {
	background: #643a79;
	padding: 5px 15px;
    border-radius: 5px;
    margin-bottom:15px;
    margin-top:15px;
}

.txt-and-button{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    max-width: 1180px;
    min-width:1000px;
    max-height:500px;
    margin-left: auto;
    margin-right: auto;
}

.main_Title{
    font-weight:bolder;
    font-size: 43px;
    margin-bottom:20px;
    margin-top:15px;
    text-align:center;
}

.button-orange{
    display:block;
    color:#FFFFFF;
    font-size:25px;
    border-radius:5px;
    padding:12px 60px;
    margin: auto;
    text-align: center;
    box-align: center;
    text-decoration: none;
    background-color: #EB7D4B;
}

.button-orange:hover {
    background-color: rgb(228, 133, 43);
}

.main_text{
    font-size:18px;
    font-weight:none;
    margin-top:10px;
    margin-bottom:10px;
   
}

.sub_title{
    font-size:28px;
    font-weight:none;
    font-weight:bolder;
    margin-top:0px;
    margin-bottom:5px;
    word-wrap: normal;
}

.block2{
    background:#17C2A4;
    height: 600px;
    min-width:1000px;
    color: #fff;
    text-align:center;
}

.PROVIDE {
    max-width: 1180px;
    min-width:1000px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.branding-and-rocket{
    max-width: 1180px;
    min-width:100%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center; 
    flex-shrink:2;
}
.box-image{
    height:200px;
    width: 205px;
    margin:45px 10px 0px 10px;
    padding:3px;

}
.small_text{
    font-size:15px;
    font-weight:none;
    margin-top:10px;
    margin-bottom:10px;
}

.dem_line{
    border: 2px;
    background-color:#14A58C;
    height:5px;
    width:100px;
    margin-bottom:12px;
    border-radius:2px;
}

.block3{
    background:#E7F1F8;
    height: 700px;
    min-width:1000px;
    color:#3C4761;
    text-align:center;
}

.MEET_OUR{
    max-width: 1180px;
    min-width:1000px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.avatar {
	background: #C8D9E5;
	width: 180px;
	height: 180px;
	border-radius: 90px;
	margin: 10px;
}

.avatar:hover{
    background: #c1e3f1;
   	width: 180px;
	height: 180px;
	border-radius: 90px;
    margin: 10px;
    border:5px;
}
.name_txt{
    font-size:24px;
    font-weight:none;
    font-weight:bolder;
    margin-top:0px;
    margin-bottom:5px;
    word-wrap: normal;  
}

a.blue_small_txt{
    font-size:15px;
    font-weight:none;
    margin-top:10px;
    margin-bottom:10px;
    color:#30BAE7;
    text-decoration: none;

}
a.blue_small_txt:hover{
    color:#643a79;
}

soc_net{
    width: 205px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: flex-end; 
}

.banner{
    position:fixed;
    bottom:-10px;
    right:10px;
    transition: 3s;
    opacity:0.0; 
}

.banner:hover{
    position:fixed;
    bottom:-10px;
    right:10px;
    transition: 2s;
    opacity:1.5; 

}

.block4{
    background:#FFFFFF;
    height: 520px;
    min-width:1000px;
    color:#3C4761;
    text-align:center;
}

.diagram-1 {
    background: #fff;
	width: 130px;
	height: 130px;
	border: 13px solid #30bae7;
    border-radius: 100px;
    border-left: 13px solid #dfe8ed;
    margin: 12px 25px;
    transform:rotate(30deg)
}

.diagram-1_1 {
    background: transparent;
    position:relative;
	width: 130px;
	height: 130px;
    border: 13px solid #30bae7;
    left:-38px;
    bottom:25px;
    border-radius: 100px;
    border-left: 13px solid transparent;
    margin: 12px 25px;
    transform:rotate(50deg)
}


.diagram-2 {
	background: #fff;
	width: 130px;
	height: 130px;
	border: 13px solid #d74680;
	border-radius: 100px;
	border-top: 13px solid #dfe8ed;
    margin: 12px 25px;
    transform:rotate(-40deg)
}

.diagram-3 {
	background: #fff;
	width: 130px;
	height: 130px;
	border: 13px solid #15c7a8;
	border-radius: 100px;
    border-left: 13px solid #dfe8ed;
    margin: 12px 25px;
    transform:rotate(25deg)
}


.diagram-4 {
	background: #fff;
	width: 130px;
	height: 130px;
	border: 13px solid #eb7d4b;
	border-radius: 100px;
	border-top: 13px solid #dfe8ed;
    margin: 12px 25px;
    transform:rotate(-40deg);
}


.diagram-4_1 {
    background: transparent;
    position:relative;
	width: 130px;
	height: 130px;
    border: 13px solid #eb7d4b;
    left:-38px;
    bottom:25px;
    border-radius: 100px;
    border-left: 13px solid transparent;
    margin: 12px 25px;
    transform:rotate(65deg);
}

.c {
	margin-top: 25px;
	text-align: center;
	color: #3c4761;
    font-size: 50px;
    
}


.block5{
    background:#FFDD99;
    height: 1300px;
    min-width:1000px;
    color: #393939;
    text-align:center;
}

.box-image-comp{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:45px 10px 0px 10px;
    padding:3px;

}

.button-green{
    display:block;
    color:white;
    font-size:25px;
    border-radius:5px;
    padding:12px 55px;
    margin: auto;
    text-align: center;
    box-align: center;
    text-decoration: none;
    background-color: #17C2A4;
}
.button-green:hover{
    background-color: rgb(69, 211, 185);
}

a.li-buttons-yellow{
    background:#EBC985;
    color: black;
    font-weight:bold;
    padding: 5px 15px;
    text-decoration: none;
    margin-bottom:15px;
    margin-top:15px;
}

a.li-buttons-yellow:hover {
	background: #FFFFFF;
	padding: 5px 15px;
    border-radius: 5px;
    margin-bottom:15px;
    margin-top:15px;
}


.block6{
    background:#D74680;
    height: 750px;
    min-width:1000px;
    color: #FFFFFF;
    text-align:center;
}   

.circle{
    position: relative;
    left:5px;
    background: #787878;
	width: 100px;
	height: 100px;
	border-radius: 50px;
    margin: 10px;
}

.box_text_about_cursive{
    font-style:italic;
    font-size:20px;
    text-align:left;
}

a.about_link_text{
    font-size:15px;
    font-weight:none;
    margin-top:10px;
    margin-bottom:10px;
    color:#F9CA96;
    text-decoration: none;

}
a.about_link_text:hover{
    color:rgb(236, 224, 211);
}

.about_col_text{
    display: flex;
    max-width:500px;
	flex-direction: column;
	justify-content: flex-start;
    align-items: flex-start; 
    margin-left:10px;
    margin-right:50px;
}

.about_us-row2{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
    align-items: flex-start; 
    margin-left:50px;
    margin-top:50px;
}

